<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>


    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

<nav th:include="temp :: navbar"></nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>建立审批流程</h1>
                    <span class="subheading">---这里是要求---</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <button type="button" class="btn btn-lg btn-primary" onclick="atStart()">流程信息</button>
                <br>
                <button type="button" class="btn btn-lg btn-primary" onclick="addStage()">添加节点</button>
            </div>
            <div id="div_stage_list" class="form-group d-none">
                <div id="div_stage" class="row d-none">
                    <button id="" type="button" class="btn btn-lg btn-link" onclick="showUnitList()">stage</button>
                    <!--<button th:each="${stageList}"-->
                    <!--<li th:each="u : ${users}" th:text="${u.name}">user name</li>-->
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-lg btn-primary" onclick="finish()">保存流程</button>
            </div>
        </div>
        <div class="col-md-10">
            <div id="unit_list" class="table d-none">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>单元名称</th>
                        <th>审核状态</th>
                        <th>审核人员</th>
                    </tr>
                    <tr onclick="showUnit()">
                        <th>1</th>
                        <th>进行中</th>
                        <th>1</th>
                    </tr>
                    <tr onclick="showUnit()">
                        <th>1</th>
                        <th>进行中</th>
                        <th>1</th>
                    </tr>
                </table>
            </div>
            <div class="container">
                <form id="create_process">
                    <div class="form-group">
                        <label class="label">流程名称</label>
                        <input id="process_name" class="form-control" type="text" placeholder="名称">
                    </div>
                    <div class="form-group">
                        <label class="label">描述</label>
                        <textarea id="process_description" class="form-control" rows="5" placeholder="描述"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info" onclick="action_create()">保存</button>
                    </div>
                </form>
                <form id="create_unit" class="d-none">
                    <div class="form-group">
                        <label class="label">单元名称</label>
                        <input id="unit_name" class="form-control" type="text" placeholder="名称">
                    </div>
                    <div class="form-group">
                        <label class="label">描述</label>
                        <textarea id="unit_description" class="form-control" rows="5"
                                  placeholder="描述"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-info" onclick="action_add_unit()">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<hr>

<div th:replace="temp :: footer"></div>

</body>

</html>
