<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!--<script type="application/javascript">-->
    <!--$("document").ready(function () {-->
    <!--console.log('ready');-->
    <!--atStart();-->
    <!--});-->
    <!--</script>-->
    <script src="../../vendor/jquery/jquery.js"></script>
    <script>
            $("#header").load("../header.html");
    </script>        
</head>

<body>

<div id="header"></div>

<!-- Page Header -->
<!-- <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>建立审批流程</h1>
                    <span class="subheading">---这里是要求---</span>
                </div>
            </div>
        </div>
    </div>
</header> -->

<!-- Main Content -->
<div class="container">
    <!-- <div class="row" th:unless="${#lists.isEmpty(list)}">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Pass</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:for="progress" th:each="progress : ${list}" id="${progress.}">
                    <th th:text="${progress.id}">#</th>
                    <th th:text="${progress.process_id}">process_id</th>
                    <th th:text="${progress.data}">name</th>
                    <th th:text="${progress.data}">pass</th>
                </tr>
            </tbody>
        </table>
    </div> -->
</div>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
        </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript -->
<script src="../../vendor/jquery/jquery.min.js"></script>


</body>

</html>
