<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ninggc.gp.mapper.ProcessMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.ninggc.gp.data.Process">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="start_time" property="start_time"/>
        <result column="description" property="description"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        process.id,
        name,
        start_time,
        description,
        process.msg,
        process.files
    </sql>

<!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.name != null"> name, </if>
            <if test="pojo.start_time != null"> start_time, </if>
            <if test="pojo.description != null"> description, </if>

            <if test="pojo.msg != null"> msg, </if>
            <if test="pojo.files != null"> files </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.name != null"> #{pojo.name}, </if>
            <if test="pojo.start_time != null"> #{pojo.start_time}, </if>
            <if test="pojo.description != null"> #{pojo.description}, </if>

            <if test="pojo.msg != null"> #{pojo.msg}, </if>
            <if test="pojo.files != null"> #{pojo.files} </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO process(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.start_time},
            #{pojo.description}

            #{pojo.msg}
            #{pojo.files}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE process
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.name != null"> name = #{pojo.name}, </if>
            <if test="pojo.start_time != null"> start_time = #{pojo.start_time}, </if>
            <if test="pojo.description != null"> description = #{pojo.description}, </if>

            <if test="pojo.msg != null"> msg = #{pojo.msg}, </if>
            <if test="pojo.files != null"> files = #{pojo.files}, </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM process
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.name != null"> AND name = #{pojo.name} </if>
            <if test="pojo.start_time != null"> AND start_time = #{pojo.start_time} </if>
            <if test="pojo.description != null"> AND description = #{pojo.description} </if>

            <if test="pojo.msg != null"> AND msg = #{pojo.msg} </if>
            <if test="pojo.files != null"> AND files = #{pojo.files} </if>
        </where>
        LIMIT 1000 
    </select>

    <select id="selectAllByUser" resultType="com.ninggc.gp.data.Process">
        SELECT <include refid="all_column"/>
        , progress.id as progress_id
        FROM process, progress
        WHERE process.id in (select process_id from progress where account = #{account})
          and process.id = progress.process_id
    </select>

    <!--auto generated Code-->
    <delete id="delete">
        DELETE FROM process where id = #{id}
    </delete>
</mapper>
