<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ninggc.gp.mapper.ProgressMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.ninggc.gp.data.Progress">
        <result column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="process_id" property="process_id"/>
        <result column="data" property="data"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        account,
        process_id,
        data,

        msg,
        files,
        current_sequence
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO progress
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.account != null"> account, </if>
            <if test="pojo.process_id != null"> process_id, </if>
            <if test="pojo.data != null"> data, </if>

            <if test="pojo.msg != null"> msg, </if>
            <if test="pojo.files != null"> files, </if>
            <if test="pojo.current_sequence != null"> current_sequence, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.account != null"> #{pojo.account}, </if>
            <if test="pojo.process_id != null"> #{pojo.process_id}, </if>
            <if test="pojo.data != null"> #{pojo.data}, </if>

            <if test="pojo.msg != null"> #{pojo.msg}, </if>
            <if test="pojo.files != null"> #{pojo.files}, </if>
            <if test="pojo.current_sequence != null"> #{pojo.current_sequence}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO progress(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.account},
            #{pojo.process_id},
            #{pojo.data},
            #{pojo.msg},
            #{pojo.files},
            #{pojo.current_sequence},
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE progress
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.account != null"> account = #{pojo.account}, </if>
            <if test="pojo.process_id != null"> process_id = #{pojo.process_id}, </if>
            <if test="pojo.data != null"> data = #{pojo.data}, </if>

            <if test="pojo.msg != null"> msg = #{pojo.msg}, </if>
            <if test="pojo.files != null"> files = #{pojo.files}, </if>
            <if test="pojo.current_sequence != null"> current_sequence = #{pojo.current_sequence} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM progress
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.account != null"> AND account = #{pojo.account} </if>
            <if test="pojo.process_id != null"> AND process_id = #{pojo.process_id} </if>
            <if test="pojo.data != null"> AND data = #{pojo.data} </if>

            <if test="pojo.msg != null"> AND msg = #{pojo.msg} </if>
            <if test="pojo.files != null"> AND files = #{pojo.files} </if>
            <if test="pojo.current_sequence != null"> AND current_sequence = #{pojo.current_sequence} </if>
        </where>
         LIMIT 1000
    </select>

    <select id="selectByTeacher" resultType="java.util.HashMap">
        select
               u.name as user_name, u.account as user_account
             , c.stage_id, c.id as unit_id, c.name as unit_name, c.description as unit_description, c.role_id
             , s.sequence as stage_sequence
             , p.id as progress_id, p1.name as process_name, p.account as progress_account, p.current_sequence as current_sequence
             , p.data, p.msg as progress_msg, p.files as progress_files
             , p1.id as process_id
        from (
              (
                (progress p left join process p1 on p1.id = p.process_id)
                  left join user u on p.account=u.account)
                left join check_unit c on p.process_id = c.process_id
              ), stage s
        where s.id = c.stage_id
              and c.role_id =
              (select role_id from role_has_user where user_account = #{account});
    </select>

    <!--auto generated Code-->
    <delete id="delete">
        DELETE FROM progress where id = #{id}
    </delete>
</mapper>
