<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ninggc.gp.mapper.RoleMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.ninggc.gp.data.Role">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        role.id,
        role.name,
        role.description,
        role.process_id,
        role.scope
    </sql>

<!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> id, </if>
            <if test="pojo.name != null"> name, </if>
            <if test="pojo.description != null"> description, </if>

            <if test="pojo.process_id != null"> process_id, </if>
            <if test="pojo.scope != null"> scope, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null"> #{pojo.id}, </if>
            <if test="pojo.name != null"> #{pojo.name}, </if>
            <if test="pojo.description != null"> #{pojo.description}, </if>

            <if test="pojo.process_id != null"> #{pojo.process_id}, </if>
            <if test="pojo.scope != null"> #{pojo.scope}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO role(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.description}

            #{pojo.process_id}
            #{pojo.scope}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE role
        <set>
            <if test="pojo.id != null"> id = #{pojo.id}, </if>
            <if test="pojo.name != null"> name = #{pojo.name}, </if>
            <if test="pojo.description != null"> description = #{pojo.description}, </if>

            <if test="pojo.process_id != null"> description = #{pojo.process_id}, </if>
            <if test="pojo.scope != null"> description = #{pojo.scope} </if>
        </set>
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM role
        <where>
            <if test="pojo.id != null"> AND id = #{pojo.id} </if>
            <if test="pojo.name != null"> AND name = #{pojo.name} </if>
            <if test="pojo.description != null"> AND description = #{pojo.description} </if>

            <if test="pojo.process_id != null"> AND description = #{pojo.process_id} </if>
            <if test="pojo.scope != null"> AND description = #{pojo.scope} </if>
        </where>
        LIMIT 1000 
    </select>

<!--auto generated Code-->
    <select id="selectWithUser" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM role, role_has_user
        where role.id = role_has_user.role_id and user_account = #{account}
        LIMIT 1000
    </select>

<!--         FROM role r, (role_has_check_unit rhu inner join check_unit c on rhu.check_unit_id = c.id and c.process_id = #{process_id})-->
<!--         where r.id = rhu.role_id;-->
    <!--auto generated Code-->
    <select id="selectWithProcess" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        From role
        where process_id = #{process_id}
        LIMIT 1000
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM role where id = #{id}
    </delete>
</mapper>
