<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ninggc.gp.mapper.UserMapper">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.ninggc.gp.data.User">
        <result column="account" property="account"/>
        <result column="pass_word" property="pass_word"/>
        <result column="name" property="name"/>
        <result column="addition" property="addition"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        account,
        pass_word,
        name,
        addition,

        visible,
        update_time
    </sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.account != null"> account, </if>
            <if test="pojo.pass_word != null"> pass_word, </if>
            <if test="pojo.name != null"> name, </if>
            <if test="pojo.addition != null"> addition, </if>
            <if test="pojo.visible != null"> visible, </if>
            <if test="pojo.update_time != null"> update_time, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.account != null"> #{pojo.account}, </if>
            <if test="pojo.pass_word != null"> #{pojo.pass_word}, </if>
            <if test="pojo.name != null"> #{pojo.name}, </if>
            <if test="pojo.addition != null"> #{pojo.addition}, </if>
            <if test="pojo.visible != null"> #{visible}, </if>
            <if test="pojo.update_time != null"> #{update_time}, </if>
        </trim>
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO user(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.account},
            #{pojo.pass_word},
            #{pojo.name},
            #{pojo.addition},
            #{pojo.visible},
            #{pojo.update_time}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE user
        <set>
            <if test="pojo.account != null"> account = #{pojo.account}, </if>
            <if test="pojo.pass_word != null"> pass_word = #{pojo.pass_word}, </if>
            <if test="pojo.name != null"> name = #{pojo.name}, </if>
            <if test="pojo.addition != null"> addition = #{pojo.addition}, </if>
            <if test="pojo.visible != null"> visible = #{pojo.visible}, </if>
            <if test="pojo.update_time != null"> update_time = #{pojo.update_time} </if>
        </set>
         WHERE account = #{pojo.account}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM user
        <where>
            <if test="pojo.account != null"> AND account = #{pojo.account} </if>
            <if test="pojo.pass_word != null"> AND pass_word = #{pojo.pass_word} </if>
            <if test="pojo.name != null"> AND name = #{pojo.name} </if>
            <if test="pojo.addition != null"> AND addition = #{pojo.addition} </if>

            <if test="pojo.visible != null"> AND visible = #{pojo.visible} </if>
            <if test="pojo.visible == null"> AND visible = 1 </if>
            <if test="pojo.update_time != null"> AND update_time = #{pojo.update_time} </if>
        </where>
        LIMIT 1000 
    </select>

    <select id="selectWithLimit" resultType="com.ninggc.gp.data.User">
        SELECT <include refid="all_column"/>
        FROM user
        <where>
            <if test="pojo.account != null"> AND account = #{pojo.account} </if>
            <!--<if test="pojo.pass_word != null"> AND pass_word = #{pojo.pass_word} </if>-->
            <if test="pojo.name != null"> AND name = #{pojo.name} </if>
            <if test="pojo.addition != null"> AND addition = #{pojo.addition} </if>

            <if test="pojo.visible != null"> AND visible = #{pojo.visible} </if>
            <if test="pojo.update_time != null"> AND update_time = #{pojo.update_time} </if>
        </where>
        LIMIT #{index}, #{size}
    </select>

    <!--auto generated Code-->
    <delete id="delete">
        DELETE FROM user where account = #{account}
    </delete>
</mapper>
