<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用layui</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../../page-js/header.js"></script>
    <script src="../../vendor/jquery/jquery.js"></script>
</head>

<body> -->
<div>
    <!-- 你的HTML代码 -->
    <ul class="layui-nav" lay-filter="">
        <li id="index" class="layui-nav-item"><a href="/page/index/index.html">高校审批系统</a></li>
        <li id="progress" class="layui-nav-item"><a href="/page/process/index.html">进度</a></li>
        <li id="create" class="layui-nav-item"><a href="/page/process/create.html">建立审批</a></li>
        <li id="notify" class="layui-nav-item"><a href="/page/progress/audit.html">审批通知</a></li>
        <li id="manage" class="layui-nav-item"><a href="/page/user/manage.html">用户管理</a></li>
        <li id="personal" class="layui-nav-item"><a href="#">我的信息</a>
            <dl class="layui-nav-child">
                <dd><a href="/page/user/edit.html">个人资料</a></dd>
                <dd><a href="/page/process/history.html">历史审批</a></dd>
                <dd><a href="/page/user/edit.html">资料管理</a></dd>
            </dl>
        </li>
        <!--<li class="layui-nav-item">-->
        <!--<a href="javascript:;">解决方案</a>-->
        <!--<dl class="layui-nav-child">-->
        <!--&lt;!&ndash; 二级菜单 &ndash;&gt;-->
        <!--<dd><a href="">移动模块</a></dd>-->
        <!--<dd><a href="">后台模版</a></dd>-->
        <!--<dd><a href="">电商平台</a></dd>-->
        <!--</dl>-->
        <!--</li>-->
    </ul>
</div>
<!-- </body>

</html> -->